name: Node.js CI Backend

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: backend/package-lock.json

    - name: Create Config Files from Secrets
      run: |
        mkdir -p config
        echo "${{ secrets.FIREBASE_KEY_JSON }}" > config/serviceAccountKey.json
        echo "${{ secrets.ENV_FILE }}" > .env
    # -------------------------

    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
